* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

main {
    height: 100vh;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}


#questionBox {
    padding: 20px;
    margin-top: 50px;
    height: 140px;
    max-width: 500px;
}

.text {
    font-size: 1rem;
    font-weight: bold;
}

.alternativ {
    font-style: italic;
    color: green;
}

#placeBox {
    margin-top: 10px;
    margin-bottom: 30px;
}

#placeBox>img {
    max-width: 400px;
}

#placeBox>h2 {
    font-size: 2rem;
    margin: 10px;
}

input {
    height: 40px;
    font-size: 2rem;
}

#answerBox {
    display: flex;
    align-items: center;
}

#answerBox>button {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 2rem;
    padding: 5px;
    position: relative;
}

#answerBox>button:active {
    background: green;
}

#animation {
    height: 200px;
}